.plant-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
}

.plant-img {
  position: absolute;
  bottom: 0;
  transition: 1.5s ease-in-out;
  transform-origin: bottom center;
}



