.navbar-container {
  display: flex;
  align-items: center;
}
.cg-logo-link {
  margin-left: auto;
  margin-top: -20px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
}

.cg-logo {
  width: 150px;
  height: auto;
  display: block;
}

.navbar {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;
  margin-bottom: 5vh;
}

.nav-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background: transparent;
  border: none;
  cursor: pointer;
}

.nav-icon img {
    width: 30px;
    height: auto;
}

.nav-icon.is-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
