.plan-event {
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 4vh;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.home-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 5vw;
  height: 40vh;
}


.home-nextevent {
  display: flex;
  align-items: stretch;
}

.home-nextevent-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.29);
  padding: 0;
  transition: box-shadow 300ms ease, transform 150ms ease;
  overflow: hidden;
}

.home-nextevent-title {
  width: 100%;
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f2f2f4;
}

.home-nextevent-infos {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 5vh 15vw;
  box-sizing: border-box;
}

.home-nextevent-date {
    font-size: 2rem;
}

.home-nextevent-name {
    text-align: center;
}

.home-other {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  box-sizing: border-box;
}

.home-other-1,
.home-other-2 {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--white);
  background-color: var(--interaction-color);
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.29);
  padding: 0 5vw;
  width: 100%;
  text-align: center;
  flex: 1;
  transition: box-shadow 300ms ease, transform 150ms ease;
}

.home-other-1:hover,
.home-other-2:hover {
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
}

.home-nextevent-card:hover {
    box-shadow: 0 0.1rem 0.8rem var(--interaction-color);
}
